BOT_TOKEN=디스코드_봇_토큰
CLIENT_ID=디스코드_앱_클라이언트_ID
LAVALINK_HOST=라바링크_호스트
LAVALINK_PORT=라바링크_포트
LAVALINK_PASSWORD=라바링크_비밀번호

DB_HOST=데이터베이스_호스트
DB_USER=데이터베이스_유저
DB_PASSWORD=데이터베이스_비밀번호
DB_PORT=데이터베이스_포트
DB_DATABASE=데이터베이스_이름
DB_TYPE=데이터베이스_타입

FFMPEG_PATH=FFmpeg_경로